:root {
    --main-color: #17273E;
    --red-btn-bg: FF383C;
    --bg-color: #F9F9F9;
    --dark-color: #454545;
    --light-color: #F5F5F5;
    --light-btn-bg: #e0e1e4;
    --stop-btn-bg: #FF383C;
    --border-radius: 10px;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--main-color);
}

.header-content { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: clamp(10px, 3vw, 30px) clamp(15px, 4vw, 40px);
    min-height: 10vh;
}

.logo-branding {
    display: flex;
    align-items: center;

}

.logo-branding h1 {
    font-size:clamp(24px, 3vw, 45px); ;
    cursor: pointer;
}

.logo-branding img {
    height: clamp(40px, 8vw, 75px);;
    margin-right: 5px;
    cursor: pointer;
}

.settings-logo {
    padding-top: 10px;
}
.settings-logo button{
    border: none;
    background: none;
    color: var(--main-color);
}

.settings-logo button .material-symbols-outlined {
    font-size: clamp(45px, 3vw, 90px);
}

.settings-logo button .material-symbols-outlined:hover {
    color: var(--dark-color)
}

main {
    display: flex;
    justify-content: space-between;
    min-height: 70vh;
    flex-wrap: wrap;
    padding: 0 clamp(20px, 5vw, 70px);
}

.camera-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 400px;
    width: auto;
}

.camera-preview {
    width: 100%;
    max-width: 800px;
    aspect-ratio: 4 / 3;
    margin: 10px;
    background-color: #d9d9d9;
    border-radius: var(--border-radius);
}

.camera-preview p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #8b8b8b;
    font-weight: bolder;
}

.camera-controls {
    display: flex;
    gap: clamp(15px, 4vw, 50px);
    margin: 10px;
    min-height: 4vh;
    flex-wrap: wrap; 
    justify-content: center;
}

.camera-controls .btn {
    padding: 0.8em 2em;
    border-radius: var(--border-radius);
    border: none;
    font-size: clamp(14px, 1.5vw, 18px);
    font-weight: bold;
    margin-top: 20px;
}

#start-camera {
    background-color: var(--main-color);
    color: var(--light-color);
}

#stop-camera {
    background-color: var(--stop-btn-bg);
    color: var(--light-color);
}

#stop-camera:hover, #start-camera:hover {
    background-color: var(--dark-color);
}

.output-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 2 400px;
    width: auto;
}

.output-section .output-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    max-width: 750px;
    margin: clamp(20px, 6vw, 80px) 0;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.output-section .output-controls .language-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    flex: 1;
    min-width: 250px;
    border: 2px solid var(--dark-color);
    background-color: var(--light-color);
    padding: 0.4em 0.5em;
}

.output-section .output-controls .language-area img {
    height: clamp(25px, 3vw, 40px);;
    width: auto;
}

.output-section .output-controls .language-area p {
    font-size: clamp(12px, 1.5vw, 18px);
    font-weight: 550;
    color: var(--dark-color);
}

.output-section .output-controls .output-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    flex: 1;
    min-width: 200px;
    border: 2px solid var(--dark-color);
    background-color: var(--light-color);
    padding: 0.4em 0.5em;
}

.output-section .output-controls .output-type .material-symbols-outlined {
    font-size: clamp(20px, 3vw, 40px);
    color: var(--main-color);
}

.output-section .output-controls .output-type p {
    font-size: clamp(12px, 1.5vw, 18px);
    font-weight: 550;
    color: var(--dark-color);
}


.output-section .text-output-display {
    width: 80%;
    max-width: 750px;
    min-height: 300px;
    padding: 1em;
    border-radius: var(--border-radius);
    border: 2px solid var(--dark-color);
    background-color: var(--light-color);
}

.output-section .text-output-display p {
    font-size: clamp(14px, 1.5vw, 18px);
}

/*settings modal css*/

.settings-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; 
}

.settings {
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    width: fit-content;
    height: fit-content;
    max-width: 90%; 
    max-height: 90vh;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    position: relative;
}

.settings-title {
    margin: 0px 10px 30px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings-title h2 {
    margin: 0;
    flex: 1;
    text-align: center;
    margin-left: 30px;
    font-size: clamp(30px, 2vw, 60px);
}

.settings-title span {
    font-size: clamp(20px, 3vw, 40px);
    cursor: pointer;
    position: absolute; 
    top: 18px;         
    right: 18px;      
}

.settings-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings-control .settings-btn {
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
    align-items: center;
}

.settings-control .settings-btn h3 {
    flex: 0 0 150px;
    font-size: clamp(13px, 1.5vw, 26px);
    text-align: center;
}

.settings-control .settings-btn button {
    border-radius: var(--border-radius);
    border: none;
    padding: .5em;
    width: clamp(90px, 15vw, 180px);
    height: clamp(25px, 4vw, 50px);
    font-size: clamp(15px, 1vw, 20px);
    background-color: var(--light-btn-bg);
    color: var(--main-color);
    font-weight:550;
}

.settings-control .settings-btn button:hover {
    background-color: var(--main-color);
    color: var(--light-color);
}

.settings-control .settings-btn button.active {
    background-color: var(--main-color); 
    color: white;
}


.settings-control #save-btn {
    margin-left: auto;
    margin-top: 20px;
    padding: 0.8em 2em;
    border-radius: var(--border-radius);
    border: none;
    font-size: clamp(14px, 1.5vw, 18px);
    background-color: var(--main-color);
    color: var(--light-color);
}

.settings-control #save-btn:hover {
    background-color: var(--dark-color);
}